#  Excercise 1. 

# A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

Dataset: Cutlets.csv

In [1]:
#import libraries
import pandas as pd
import scipy.stats as stats

In [2]:
#import dataset
cutlets = pd.read_csv("/Users/praing57504/Desktop/Data science/Assignments/3_Hypothesis Testing/Cutlets.csv")
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

### Assumptions:
### 1. Random samples are taken.
### 2. sample size is greater than 30.
### -----------------------------------------------------------------------------------------------------------------------------------------
### Null Hypothesis :  There is no significant difference in the diameter of 2 different cultlet      units, 
   ## mean (A) = mean (B)
### -----------------------------------------------------------------------------------------------------------------------------------------
### Alternative hypothesis: There is significant difference in the diameter of 2 different cultlet      units,   
   ## mean(A) != mean(B)

### -----------------------------------------------------------------------------------------------------------------------------------------
## Test = t-test
### (Population standard deviation is unknown)

In [3]:
#test : 2 sample indpendent t test
stats.ttest_ind(cutlets["Unit A"],cutlets["Unit B"])

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

### As pvalue is greater than alpha (0.05) value, the consclusion from the test is null hypothesis to be accepted (mean(A) = mean(B)).
### Conclusion: mean diameter of the 2 cutlet units are same.

# -------------------------------------------------------------------------------------------------

# Excercise 2. 
# A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
# Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

Dataset : LabTAT.csv

In [4]:
#import libraries
import pandas as pd
import scipy.stats as stats

In [5]:
#import dataset
labtat = pd.read_csv("/Users/praing57504/Desktop/Data science/Assignments/3_Hypothesis Testing/LabTAT.csv")
labtat.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

### Null Hypothesis :  Average TAT  of all 4 laboratories are equal,
   ## mean (lab1) = mean (lab2) = mean (lab3) = mean (lab4)
### -----------------------------------------------------------------------------------------------------------------------------------------
### Alternative hypothesis: Atleast one average TAT of laboratory is different

In [6]:
#test : Anova test
stats.f_oneway(labtat["Laboratory 1"], labtat["Laboratory 2"], labtat["Laboratory 3"], labtat["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

### As pvalue is less than alpha (0.05) value, the consclusion from the test is null hypothesis to be rejected and alternative hypothesis to be accepted.

### Conclusion: Average TAT of laboratories are different.

# -------------------------------------------------------------------------------------------------------

# Excercise 3.

# Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

Dataset : Buyer Ratio.csv

In [7]:
#import labraries
import pandas as pd
import numpy as np
import scipy.stats as stats

In [8]:
#import dataset
buyer_ratio = pd.read_csv("/Users/praing57504/Desktop/Data science/Assignments/3_Hypothesis Testing/BuyerRatio.csv")
buyer_ratio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

### Null Hypothesis :  All proportions are equal.
### Alternative hypothesis: Not all Proportions are equal.

In [9]:
#test : Chi-square 

data = [[buyer_ratio.iloc[0,1:].values],[buyer_ratio.iloc[1,1:].values]]

stat, p_value, dof, expt= stats.chi2_contingency(data)

In [10]:
p_value

0.6603094907091882

## As p value is greater than the significat level, so null hypothesis cannot be rejected.

## Coclusion: All the proportions are equal.

# -------------------------------------------------------------------------------------------------------

 # Excercise 4.
 
 # TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences
 
 Dataset: CustomerOrderForm.csv

In [11]:
# import labraries
import pandas as pd
from statsmodels.stats.proportion import proportions_ztest

In [12]:
#import data set
cust_form = pd.read_csv("/Users/praing57504/Desktop/Data science/Assignments/3_Hypothesis Testing/Costomer+OrderForm.csv")
cust_form.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [13]:
cust_form.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [14]:
#Count the number of defect and error free form in each center
a = cust_form["Phillippines"].value_counts()
b = cust_form["Indonesia"].value_counts()
c = cust_form["Malta"].value_counts()
d = cust_form["India"].value_counts()

In [15]:
cust_form_count = pd.concat([a,b,c,d], axis=1)
cust_form_count

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

### Null Hypothesis :  All defective form percentages/proportions across centers are equal.
### Alternative hypothesis: Not all defective form percentages/proportions across centers are equal.

In [16]:
#test: proportion ztest
#for sample 1 and sample 2
z1, p1 = proportions_ztest(count=[29,33], nobs=[500,500])

#for sample 1 and sample 3
z2, p2 = proportions_ztest(count=[29,31], nobs=[500,500])

#for sample 1 and sample 4
z3, p3 = proportions_ztest(count=[29,20], nobs=[500,500])

#for sample 2 and sample 3
z4, p4 = proportions_ztest(count=[33,31], nobs=[500,500])

#for sample 2 and sample 4
z5, p5 = proportions_ztest(count=[33,20], nobs=[500,500])

#for sample 3 and sample 4
z6, p6 = proportions_ztest(count=[31,20], nobs=[500,500])

In [17]:
print("p- values for all samples: ")
for i in [p1,p2,p3,p4,p5,p6]:
    print(round(i,2))

p- values for all samples:
0.6
0.79
0.19
0.8
0.07
0.11

## As p values are greater than the significat level, so null hypothesis cannot be rejected.

## Coclusion: All the proportions are equal.